<a href="https://colab.research.google.com/github/Himakar06/Healthcare-claims-analytics/blob/main/notebooks/01_data_profiling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [12]:
import os

REPO_NAME = "Healthcare-claims-analytics"

if not os.path.exists(REPO_NAME):
  !git clone https://github.com/Himakar06/Healthcare-claims-analytics.git

DATA_PATH = os.path.join(REPO_NAME, "data", "claim_data.csv")

df = pd.read_csv(DATA_PATH)
df.head()

,Claim ID,Provider ID,Patient ID,Date of Service,Billed Amount,Procedure Code,Diagnosis Code,Allowed Amount,Paid Amount,Insurance Type,Claim Status,Reason Code,Follow-up Required,AR Status,Outcome
0,0HO1FSN4AP,126528997,7936697103,08/07/2024,304,99231,A02.1,218,203,Self-Pay,Paid,Incorrect billing information,Yes,Pending,Partially Paid
1,9U86CI2P5A,6986719948,1547160031,06/21/2024,348,99213,A16.5,216,206,Medicare,Paid,Pre-existing condition,Yes,Open,Denied
2,1QEU1AIDAU,1355108115,2611585318,07/04/2024,235,99213,A00.1,148,119,Commercial,Under Review,Duplicate claim,No,Denied,Denied
3,WH7XDS8CEO,9991055906,7167948632,05/26/2024,112,99215,A18.6,79,69,Medicare,Denied,Authorization not obtained,No,Partially Paid,Denied
4,M6OJEZ8KGI,7382167012,2140226267,07/16/2024,406,99238,A17.9,320,259,Medicare,Denied,Authorization not obtained,No,On Hold,Denied

In [ ]:
print(f"Shape : {df.shape}")
print("\nNull Values")
df.isnull().sum()

Shape : (1000, 15)

Null Values

Claim ID              0
Provider ID           0
Patient ID            0
Date of Service       0
Billed Amount         0
Procedure Code        0
Diagnosis Code        0
Allowed Amount        0
Paid Amount           0
Insurance Type        0
Claim Status          0
Reason Code           0
Follow-up Required    0
AR Status             0
Outcome               0
dtype: int64

In [ ]:
print(f"Duplicate Values: {df.duplicated().sum()}")
df['Claim ID'].duplicated().sum()

Duplicate Values: 0

np.int64(0)

In [ ]:
df.dtypes

Claim ID              object
Provider ID            int64
Patient ID             int64
Date of Service       object
Billed Amount          int64
Procedure Code         int64
Diagnosis Code        object
Allowed Amount         int64
Paid Amount            int64
Insurance Type        object
Claim Status          object
Reason Code           object
Follow-up Required    object
AR Status             object
Outcome               object
dtype: object

In [ ]:
df['Date of Service'] = pd.to_datetime(df['Date of Service'],errors='coerce')

In [ ]:
df['Date of Service'].isnull().sum()

np.int64(0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Claim ID            1000 non-null   object
 1   Provider ID         1000 non-null   int64
 2   Patient ID          1000 non-null   int64
 3   Date of Service     1000 non-null   datetime64[ns]
 4   Billed Amount       1000 non-null   int64
 5   Procedure Code      1000 non-null   int64
 6   Diagnosis Code      1000 non-null   object
 7   Allowed Amount      1000 non-null   int64
 8   Paid Amount         1000 non-null   int64
 9   Insurance Type      1000 non-null   object
 10  Claim Status        1000 non-null   object
 11  Reason Code         1000 non-null   object
 12  Follow-up Required  1000 non-null   object
 13  AR Status           1000 non-null   object
 14  Outcome             1000 non-null   object
dtypes: datetime64[ns](1), int64(6), object(8)
memory usage: 117.3+ KB

In [ ]:
df[df['Claim Status']=="Denied"]['Follow-up Required'].value_counts()

Follow-up Required
No     164
Yes    164
Name: count, dtype: int64

**Data Quality Summary**


*   Total Records: XXXX
*   Missing Data: 0%


*  Duplicate Claims: 0
*   Dataset structurally clean



> Further validation required on financial logic and status consistency